body{
  background-color: lavender;
}

.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

header{
  font-size: 100px;
  color: plum;
  text-shadow: 4px 4px purple;

}

